    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>{{ include.title }}</title>
    <meta property="fb:appid" content="{{ include.ogtitle }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ include.ogtitle }}">
{% if page.layout == "post" %}
    <meta content="article" property="og:type">
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ page.excerpt | strip_html  }}" property="og:description">
{% if page.autor %}
{% assign autorurl = "/lide/" | append: page.autor %}
{% assign autor = site.people 
            | where_exp:"l", "l.url == autorurl" 
            | first %}
    <meta content="{{ autorurl | absolute_url }}" property="article:author">
{% endif %}{% if page.image %}
    <meta content="{{ page.image | prepend: '/img/blog/' | absolute_url  }}" property="og:image">
{% endif %}{% else %}
    <meta content="website" property="og:type">
{% endif %}{% if page.layout == "people" %}
    <meta content="{{ page.photo | default: 'unknown.jpg' | prepend: '/img/team/' | absolute_url }}" property="og:image">
{% endif %}{% if page.url %}
    <meta content="{{ page.url | absolute_url  }}" property="og:url">
{% endif %}
    <!--[if lt IE 9]>
    <script src="/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap" rel="stylesheet">
    <link href="/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="/styles/klub_blue.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="/vendor/layerslider/css/layerslider.css">